<%= form_tag account_login_path do %>
<ul>
	<li>
		<%= label_tag :login, "login" %>
		<%= text_field_tag :login, params[:login] %>
	</li>
	<li>
		<%= label_tag :password, "password" %>
		<%= password_field_tag :password, params[:password] %>
	</li>
	<li class="btn">
		<%= submit_tag "Log in" %>
	</li>
</ul>
<% end %>