<!DOCTYPE html>
<html>
<head>
  <title>Leelah Client</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="../bootstrap.css" rel="stylesheet">
  <style type="text/css">
      .form-horizontal {
          background-color: white;
          border: 1px solid #DDD;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
      }

      .form-horizontal legend {
          margin-bottom: 10px;
          text-align: center;
      }

      .form-actions {
          margin-bottom: 0;
      }
  </style>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="span4">&nbsp;</div>
    <div class="span4">
      <form action="" method="post" class="form-horizontal">
        <fieldset>
          <legend><a href="<%= root_path %>"><span>Leelah System Client</span></a></legend>
          <% if flash[:error] != nil && !flash[:error].empty? %>
              <div class="alert alert-error">
                <a href="#" class="close" data-dismiss="alert">×</a>
                <%= flash[:error] %>
              </div>
          <% end %>
          <%= yield %>
        </fieldset>
      </form>
    </div>
    <div class="span4">&nbsp;</div>
  </div>
</div>
</body>
</html>